
.onlyThisPage :root {
    --primary: #6043D5;
    --primaryColorLinear: #B200D1;
    --secondPrimaryColor: #DBE9F7;
    
    --widgetFontColor: #fff;
    --fontColor: #fff;
    --backgroundColor: #202124;
    --widgetColor: #393F48;
    --titleSize: clamp(1rem, 3vw, 1.2vw); 
    --textSize: clamp(0.8rem, 3vw, 1vw); 
    --iconSize: 10rem;
    --imageProfileSize: clamp(3rem, 6vw + 1rem, 4vw);
}




:root {
    --primary: #6043D5;
    --primaryColorLinear: #B200D1;
    --secondPrimaryColor: #DBE9F7;
}

/* @media (prefers-color-scheme: dark) { */









        /* //#search #555 */

        .customSearchComponent .nav-item-custom {
            height: 100%;
            display: flex;
            align-items: center; }

            .customSearchComponent .nav-item-custom .nav-link {
                color: #464a53;
                font-size: 18px; }

                .customSearchComponent .nav-item-custom .input-group-custom {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;
                    width: 100%; }

                    .input-group-append-custom {
                        position: absolute;
                        top: 0%;
                        right: 0%;
                    }
                        
                            .input-group-text-custom {
                                display: flex;
                                align-items: stretch;
                                padding-top: 21%;
                                padding-bottom: 21%;
                                padding-left: 1rem;
                                padding-right: 1rem;
                                margin-bottom: 0;
                                font-size: 0.875rem;
                                font-weight: 400;
                                line-height: 1.5;
                                
                                text-align: center;
                                white-space: nowrap;
                                background-color: var(--secondPrimaryColor);
                                border-radius: 0.75rem; 
                                
                            }

                            .input-group-text-custom:hover {
                                background-color: var(--primary);
                            } .input-group-text-custom:hover i {
                                color: white;
                            }





/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* //#22222222 footer styling */

.custom-footer {
    display: flex;
    padding-left: 21.563rem;
    background-color: transparent; 
    justify-content: center;
    }

     .custom-footer .copyright {
      padding: 0.9375rem; 
    }
      .custom-footer .copyright p {
        text-align: center;
        margin: 0; }
      .custom-footer .copyright a {
        color: var(--primary); }
      @media only screen and (min-width: 991px) {
        .custom-footer .copyright {
          border-radius: 0 0 0 50px; } }



                @media (max-width: 1200px) {
                    .custom-footer {
                      padding-left: 5rem;
                      padding-right: 2.5rem;
                    } 
                    } 
                
                

                    @media (max-width: 555.56px) {

                        .custom-footer {
                            display: none;
                          } 
                    }



                    /* ///////////////////////////////////////////////////// */




/* } */