.mobileNavigationDiv {
    --primary: #6043D5;
    --primaryColorLinear: #B200D1;
    --secondPrimaryColor: #DBE9F7;
    
    --widgetFontColor: #fff;
    --fontColor: #fff;
    --backgroundColor: #202124;
    --widgetColor: #393F48;
    --titleSize: clamp(1rem, 3vw, 1rem); 
    --textSize: clamp(0.2rem, 3vw, 1rem); 
    --iconSize: clamp(0.8rem, 4vw, 3rem);
    --imageProfileSize: clamp(3rem, 6vw + 1rem, 4vw);
    --horizontalSpace: clamp(1rem, 3vw, 5vw); 
    --verticalSpace: clamp(2rem, 2vw, 5vw); 
    --smallerResponsiveSpace: clamp(0.4rem, 2vw, 0.5vw); 
    --white: #fff;
    --mobileBottomSpace: clamp(2rem, 2vw, 1rem); 
}







@media (prefers-color-scheme: dark) {
    :root {
        --primary: #6043D5;
        --primaryColorLinear: #B200D1;
        --secondPrimaryColor: #DBE9F7;
        
        --widgetFontColor: #fff;
        --fontColor: #fff;
        --backgroundColor: #202124;
        --widgetColor: #393F48;
    }
    }
    
    @media (prefers-color-scheme: light) { 
        :root {
            --primary: #6043D5;
            --primaryColorLinear: #B200D1;
            --secondPrimaryColor: #DBE9F7;
            --fontColor: #202124;
            --widgetFontColor: #202124;
            --backgroundColor: #fff;
            --widgetColor: #F9F9F9;
        }
    }

    @media(max-width: 550px) {
        :root {
            --iconSize: 0rem;
        }
    }


.mobileNavigationDiv {
    display: none;
}

@media (max-width: 555.56px) {

    /* //bottom navigation : #111111 */


    .mobileNavigationDiv {
        border-top-left-radius: 4vw;
        border-top-right-radius: 4vw;
        background-color: var(--widgetColor);
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 10;
    }
    
    
    
    .mobileNavigationDiv .mobile-navigation {
        display:flex;
        
    }





        
    /* //#111 header styling */
   .mobileNavigationDiv .mobileNavigation {
        background: transparent;
        display:flex;
    }

   .mobileNavigationDiv .mobileNavigation .customNavLink {
        margin-right: var(--smallerResponsiveSpace);
        margin-left: var(--smallerResponsiveSpace);
        margin-top: var(--smallerResponsiveSpace);
        margin-bottom: var(--mobileBottomSpace);
        padding: var(--smallerResponsiveSpace);
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: solid transparent;
    }

    /* .mobileNavigation .nav-link {

    } */


    

   .mobileNavigationDiv .mobileNavigation .customNavLink i {
        display: inline-block;
        padding-top: 0.5rem;
        padding-right: 2vw;
        padding-left: 2vw;
        /* margin: 0rem 1rem 1rem 1rem; */
        color: #7E7E7E; 
    }


        
    /* .mobileNavigation .customNavLink:active {
            background-color: red;
            
    } */


  

   .mobileNavigationDiv .mobileNavigation .customNavLink:hover {
        border-bottom: solid var(--white);
        
    } .mobileNavigation .customNavLink:hover i {
        color: var(--white);
        transition: all 0.2s ;
        
       }
       

     .mobileNavigationDiv .mobileNavigation .activeNavLink {
 
        transition: all 0.2s ;
        border-radius: 1.5rem;
        margin-right: var(--smallerResponsiveSpace);
        margin-left: var(--smallerResponsiveSpace);
        margin-top: var(--smallerResponsiveSpace);
        margin-bottom: var(--mobileBottomSpace);
        padding: var(--smallerResponsiveSpace);
        padding-top: var(--smallerResponsiveSpace);
        padding-bottom: var(--smallerResponsiveSpace);
        background-color: var(--primary);
        transition: all 0.2s ;
        font-size: var(--iconSize);
  

        /* // */
    } .mobileNavigationDiv .mobileNavigation .activeNavLink i {
        display: inline-block;
        padding-top: 0.5rem;
        padding-right: 2vw;
        padding-left: 2vw;

        color: var(--white); 
        transition: all 0.2s ;
        }

       .mobileNavigationDiv .mobileNavigation .navigationIconDiv {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: var(--iconSize);
        }

       .mobileNavigationDiv .mobileNavigation .navigationTitle {
            padding-top: 0.2rem;
            font-size: var(--textSize);
        }








/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */








/* //TODO genral bottom space for all pages on mobile devices */

.bottomSpace{
     width: 100%;
     height: 30vw;
     background-color: var(--widgetColor);
 }
}    